nav {
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    background-color: lighten(grey, 40%);
    li {
        display: inline;
        padding-right: 20px;
    }
}

.hero {
//    height: 300px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: lightgray;
    padding-top: 100px;
    padding-bottom: 30px;
}

.about-hero {
    padding-left: 30px;
    padding-right: 30px;
    background-color: lightgray;
    padding-top: 100px;
    padding-bottom: 20px;
}
.case-studies, .contact {
    .case-list {
        display: inline-block;
        vertical-align:top;
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        background-color: gray;
        text-align: center;
        h5{
            margin-top: 155px;
            color: white;
        }
        @media screen and (min-width: 480px) {
            width: 33%;
        }
    }
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact {
    text-align: center;
    background-color: lighten(lightgray, 10%);
}

footer {
    border-top: 1px solid black;
    height: 40px;
}

.with-border{
        box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
}

#landing-changeseed {
    background-image: url("/images/changeseed-landing-image.gif");
    background-size: cover;
    h5 {
        margin-top: 135px;
    }
}

#landing-driftlist {
    background-image:url("/images/driftlist-landing-image.gif");
    background-position: top center; 
    background-repeat:no-repeat;
    background-size: cover;
}

#landing-blocbox {
    background-image: url("/images/blocbox.gif");
    background-position: top center; 
    background-size: cover;
    h5 {
        margin-top: 135px;
    }

}

.social-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    h4 {
        text-align: center;
        padding-bottom: 10px;
    }
    ul {
        text-align: center;
    }
    li {
        display: inline;
        padding: 10px;
    }
    @media screen and (min-width: 480px) {
        width: 50%;
        float: left;
        h4, ul {
        text-align: left;
        margin-left: 40px;
        }
    }
}
.copyright-info{
    p{
        font-size: .75em;
        text-align: center;
        padding-bottom: 10px;
    }
    @media screen and (min-width: 480px) {
        width: 50%;
        float: right;
        p {
            margin-top: 50px;
            text-align: right;
            margin-right: 40px;
        }
    }
}

.button {
    padding: 20px;
    margin-top: 50px;
    background-color: lighten(orange, 10%);
    &:hover {
        color: white;
    }
}

.intro-bio{
    padding-top: 50px;
}