nav {
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    background-color: lighten(grey, 40%);
    li {
        display: inline;
        padding-right: 20px;
    }
}

.hero {
//    height: 300px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: lightgray;
    padding-top: 100px;
    padding-bottom: 30px;
}
.case-studies, .contact {
    .case-list {
        display: inline-block;
        vertical-align:top;
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        background-color: gray;
        text-align: center;
        h4{
            margin-top: 75px;
        }
        @media screen and (min-width: 480px) {
            width: 33%;
        }
    }
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact {
    text-align: center;
    background-color: lighten(lightgray, 10%);
}

footer {
    border-top: 1px solid black;
    height: 40px;
}

.with-border{
        box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
}

#landing-changeseed {
    background-image: url("/images/Landing-Page.jpg");
}

#landing-driftlist {
    background-image:url("/images/driftlist-welcome.jpg");
}

#landing-blocbox {
    background-image: url("/images/blocbox.jpg");
}

.social-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    h4 {
        padding-bottom: 10px;
    }
    li {
        display: inline;
        padding: 10px;
    }
}
.copyright-info{
    float: right;
}

.button {
    padding: 20px;
    margin-top: 50px;
    background-color: lighten(orange, 10%);
    &:hover {
        color: white;
    }
}