// General Font Styles

@font-face {
    font-family: Visby;
    src: url(../fonts/VisbyCF-Heavy.woff);
}

.wf-loading {
visibility: hidden;
}

.wf-active, .wf-inactive {
visibility: visible;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    @media screen and (min-width: 376){
        font-size: 18px;
    }
    @media screen and (min-width: 769px) {
        font-size: 20px;
    }    
}
a {
    text-decoration: none;
    color: $main-color;
}
h1 {
    font-size: 3.25em;
    color: $main-color;
    font-weight: 700;
//    letter-spacing: 5px;
}
h2 {
    font-size: 2em;
//    margin-top: 20px;
//    margin-bottom: 20px;
}
h3 {
    font-size: 1.75em;
    font-weight: 700;
//    text-align: center;
}
h4 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 10px;
}

h5 {
    margin: 20px 0;
    font: 1.25em;
    line-height: 1.5;
}
p{
    line-height: 1.8;
//    @media screen and (min-width: 480px) {
//        width: 60%;
//    }
    font-family: "pragmatica-web",sans-serif;
    font-style: normal;
    font-weight: 300;
    .contact &{
        text-align: center;
        width: 100%;
    }
}

li {
    font-family: "pragmatica-web",sans-serif;
    font-style: normal;
    font-weight: 200;
}

figcaption {
    font-family: "pragmatica-web",sans-serif;
    font-weight: 700;
//    margin: 20px 0;
}

.main-color-bar {
    font-weight: 500;
    background-color: $main-color;
    color: white;
    padding: 5px 0;
}

.grey-bar {
    font-weight: 500;
    background-color: $dark-grey;
    color: white;
    padding: 5px 0;
}

.section-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

//LANDING PAGE FONT STYLES

.antha {
    color: rgba(249,168,37 ,.3);
}

.landing-case-logo {
    width: 25%;
    margin: auto;
}

.brand-name {
    margin-top: 20px;
    margin-bottom: 20px;
}

.brand-name#drift-list{
    font-family: "clarendon-urw";
    font-weight: 300;
    letter-spacing: 15px;
    color: white;
    padding-top: 10px;
    border-top: 1px solid white;
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#driftlist-bold{
    font-weight: 500;
}

#changeseed{
    font-family: "abril-text";
    color: white;
}

#blocbox{
    font-family: "league-gothic";
    color: white;
    font-size: 2.5em;
    padding-bottom: 15px;
}

// ABOUT ME FONT SYTYLES

.content-area {
    h3 {
        padding-bottom: 10px;
        margin-top: 2.5em;
        margin-bottom: 20px;
//        text-align: center;
        font-size: 1.25em;
//        text-transform: uppercase;
//        font-family: ff-enzo-web;
        border-bottom: 2px solid orange;
    }
    h4 {
        font-size: 1.1em;
    }
    h2 {
        font-size: 2em;
        padding-bottom: .75em;
        text-align: center;
    }
    .body-intro{
        p{
            font-size: 1.25em;
        }
    }
    img {
        width: 100%;
        &.sketch {
            width: 45%;
        }
        &.main {
        margin: 20px 0;
        }
        @media screen and (min-width: 480px){
        &#drift-def, &#balloons {
        width: 75%;
        display: block;
        margin: 30px auto;
        }
    }
    }
    h5 {
        border-bottom: 1px solid black;
        padding: 10px;
    }
}

.lead-text {
    font-family: "pragmatica-web",sans-serif;
    font-style: normal;
    font-weight: 700;
}

// contact typography rules

#contact-hero {
    h1 {
        margin-bottom: 20px;
    }
}

.side-note {
    line-height: 1.2;
    font-size: .9em;
    font-weight: 300;
    font-style: italic;
//    background-color: #eee;
    margin: 10px 1em;
    padding: 10px;
//    width: 85%;
    display: inline-block;
}


.callout-bar {
    margin: 20px 0;
    h5 {
        margin-top: 0;
    }
    background-color: $light-grey;
    padding: 20px;
}
.body-copy {
    padding-bottom: 2em;
    .highlights {
        background-color: $light-grey;
        padding: 20px 0;
        margin: 20px 0;
        h4 {
            text-align: center;
            font-weight: 600;
            font-size: 1.5em;
            padding: 0 .5em .5em .5em;
        }
    }
    ul{
        list-style-type: circle;
        margin: .75em 2.5em;
        li {
//            font-weight: 400;
            margin: 10px 0;
            line-height: 1.5;
            font-size: 1em;
        }
    }
    ol {
        list-style-type: decimal;
        margin: .75em 2.5em;
        li {
            font-weight: 400;
            margin: 10px 0;
            line-height: 1.5;
            font-size: 1em;
        }
    }
}

.about-hero {
    h2{
        line-height: 1.5;
    }
}