// General Font Styles

@font-face {
    font-family: Visby;
    src: url(../fonts/VisbyCF-Heavy.woff);
}

.wf-loading {
visibility: hidden;
}

.wf-active, .wf-inactive {
visibility: visible;
}

body {
    font-family: ff-enzo-web;
    font-size: 16px;
    @media screen and (min-width: 480px) {
        font-size: 20px;
    }    
}
a {
    text-decoration: none;
    color: $main-color;
    &:hover {
        color: $secondary-color;
    }
}
h1 {
    font-size: 3em;
    color: $main-color;
    font-family: ff-enzo-web;
    font-weight: 300;
    letter-spacing: 5px;
}
h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
}
h4 {
    font-size: 1.5em;
}

p{
    line-height: 1.8;
//    @media screen and (min-width: 480px) {
//        width: 60%;
//    }
    font-family: "abril-text";
    font-weight: 300;
    .contact &{
        text-align: center;
        width: 100%;
    }
}

.section-header {
    padding-bottom: 40px;
}

//LANDING PAGE FONT STYLES

.antha {
    color: lighten($main-color, 30%);
}

.landing-case-logo {
    width: 25%;
    margin: auto;
}

.brand-name {
    margin-top: 20px;
    margin-bottom: 20px;
}

.brand-name#drift-list{
    font-family: "clarendon-urw";
    font-weight: 300;
    letter-spacing: 15px;
    color: white;
    padding-top: 10px;
    border-top: 1px solid white;
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#driftlist-bold{
    font-weight: 500;
}

#changeseed{
    font-family: "abril-text";
    color: white;
}

#blocbox{
    font-family: "league-gothic";
    color: white;
    font-size: 2.5em;
    padding-top: 20px;
    padding-bottom: 15px;
}

// ABOUT ME FONT SYTYLES

.content-area {
    h3 {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: left;
        font-size: 1.25em;
        text-transform: uppercase;
        font-family: ff-enzo-web;
    }
    .body-intro{
        p{
            font-size: 1.25em;
        }
    }
    img {
        width: 100%;
        margin: 10px 0;
    }
}

.lead-text {
    font-weight: bold;
}

// contact typography rules

#contact-hero {
    h1 {
        margin-bottom: 20px;
    }
}

.side-note {
    line-height: 1;
    font-size: .75em;
    background-color: yellow;
    margin: 10px 0;
}
.body-copy {
    ul {
        margin-left: 30px;
        list-style-type: circle;
        li {
            margin: 10px 0;
            line-height: 1.5;
        }
    }
}