@font-face {
    font-family: Visby;
    src: url(../fonts/VisbyCF-Heavy.woff);
}

body {
    font-family: ff-more-web-pro;
    font-size: 16px;
    @media screen and (min-width: 480px) {
        font-size: 20px;
    }    
}
a {
    text-decoration: none;
    color: black;
    &:hover {
        color: $main-color;
    }
}
h1 {
    font-size: 3em;
    color: $main-color;
    font-family: Visby;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.75em;
    text-align: center;
}
h4 {
    font-size: 1.5em;
}
#antha {
    color: lighten($main-color, 15%);
}

.section-header {
    padding-bottom: 40px;
}

.bio-body {
    h3 {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: left;
    }
}
