/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Visby;
  src: url(../fonts/VisbyCF-Heavy.woff);
}
/* line 8, ../sass/_typography.scss */
.wf-loading {
  visibility: hidden;
}

/* line 12, ../sass/_typography.scss */
.wf-active, .wf-inactive {
  visibility: visible;
}

/* line 16, ../sass/_typography.scss */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 376) {
  /* line 16, ../sass/_typography.scss */
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 769px) {
  /* line 16, ../sass/_typography.scss */
  body {
    font-size: 20px;
  }
}

/* line 26, ../sass/_typography.scss */
a {
  text-decoration: none;
  color: #f9a825;
}

/* line 30, ../sass/_typography.scss */
h1 {
  font-size: 3.25em;
  color: #f9a825;
  font-weight: 700;
}

/* line 36, ../sass/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 41, ../sass/_typography.scss */
h3 {
  font-size: 1.75em;
  font-weight: 700;
}

/* line 46, ../sass/_typography.scss */
h4 {
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 10px;
}

/* line 52, ../sass/_typography.scss */
h5 {
  margin: 20px 0;
  font: 1.25em;
  line-height: 1.5;
}

/* line 57, ../sass/_typography.scss */
p {
  line-height: 1.8;
  font-family: "pragmatica-web",sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* line 65, ../sass/_typography.scss */
.contact p {
  text-align: center;
  width: 100%;
}

/* line 71, ../sass/_typography.scss */
li {
  font-family: "pragmatica-web",sans-serif;
  font-style: normal;
  font-weight: 200;
}

/* line 77, ../sass/_typography.scss */
figcaption {
  font-family: "pragmatica-web",sans-serif;
  font-weight: 700;
}

/* line 83, ../sass/_typography.scss */
.main-color-bar {
  font-weight: 500;
  background-color: #f9a825;
  color: white;
  padding: 5px 0;
}

/* line 90, ../sass/_typography.scss */
.grey-bar {
  font-weight: 500;
  background-color: #2c3e50;
  color: white;
  padding: 5px 0;
}

/* line 97, ../sass/_typography.scss */
.section-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 104, ../sass/_typography.scss */
.antha {
  color: rgba(249, 168, 37, 0.3);
}

/* line 108, ../sass/_typography.scss */
.landing-case-logo {
  width: 25%;
  margin: auto;
}

/* line 113, ../sass/_typography.scss */
.brand-name {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 118, ../sass/_typography.scss */
.brand-name#drift-list {
  font-family: "clarendon-urw";
  font-weight: 300;
  letter-spacing: 15px;
  color: white;
  padding-top: 10px;
  border-top: 1px solid white;
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 133, ../sass/_typography.scss */
#driftlist-bold {
  font-weight: 500;
}

/* line 137, ../sass/_typography.scss */
#changeseed {
  font-family: "abril-text";
  color: white;
}

/* line 142, ../sass/_typography.scss */
#blocbox {
  font-family: "league-gothic";
  color: white;
  font-size: 2.5em;
  padding-bottom: 15px;
}

/* line 152, ../sass/_typography.scss */
.content-area h3 {
  padding-bottom: 10px;
  margin-top: 2.5em;
  margin-bottom: 20px;
  font-size: 1.25em;
  border-bottom: 2px solid orange;
}
/* line 162, ../sass/_typography.scss */
.content-area h4 {
  font-size: 1.1em;
}
/* line 165, ../sass/_typography.scss */
.content-area h2 {
  font-size: 2em;
  padding-bottom: .75em;
  text-align: center;
}
/* line 171, ../sass/_typography.scss */
.content-area .body-intro p {
  font-size: 1.25em;
}
/* line 175, ../sass/_typography.scss */
.content-area img {
  width: 100%;
}
/* line 177, ../sass/_typography.scss */
.content-area img.sketch {
  width: 45%;
}
/* line 180, ../sass/_typography.scss */
.content-area img.main {
  margin: 20px 0;
}
@media screen and (min-width: 480px) {
  /* line 184, ../sass/_typography.scss */
  .content-area img#drift-def, .content-area img#balloons {
    width: 75%;
    display: block;
    margin: 30px auto;
  }
}
/* line 191, ../sass/_typography.scss */
.content-area h5 {
  border-bottom: 1px solid black;
  padding: 10px;
}

/* line 197, ../sass/_typography.scss */
.lead-text {
  font-family: "pragmatica-web",sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* line 206, ../sass/_typography.scss */
#contact-hero h1 {
  margin-bottom: 20px;
}

/* line 211, ../sass/_typography.scss */
.side-note {
  line-height: 1.2;
  font-size: .9em;
  font-weight: 300;
  font-style: italic;
  margin: 10px 1em;
  padding: 10px;
  display: inline-block;
}

/* line 224, ../sass/_typography.scss */
.callout-bar {
  margin: 20px 0;
  background-color: #ecf0f1;
  padding: 20px;
}
/* line 226, ../sass/_typography.scss */
.callout-bar h5 {
  margin-top: 0;
}

/* line 232, ../sass/_typography.scss */
.body-copy {
  padding-bottom: 2em;
}
/* line 234, ../sass/_typography.scss */
.body-copy .highlights {
  background-color: #ecf0f1;
  padding: 20px 0;
  margin: 20px 0;
}
/* line 238, ../sass/_typography.scss */
.body-copy .highlights h4 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0 .5em .5em .5em;
}
/* line 245, ../sass/_typography.scss */
.body-copy ul {
  list-style-type: circle;
  margin: .75em 2.5em;
}
/* line 248, ../sass/_typography.scss */
.body-copy ul li {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 1em;
}
/* line 255, ../sass/_typography.scss */
.body-copy ol {
  list-style-type: decimal;
  margin: .75em 2.5em;
}
/* line 258, ../sass/_typography.scss */
.body-copy ol li {
  font-weight: 400;
  margin: 10px 0;
  line-height: 1.5;
  font-size: 1em;
}

/* line 268, ../sass/_typography.scss */
.about-hero h2 {
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  /* line 6, ../sass/_overrides.scss */
  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  /* line 12, ../sass/_overrides.scss */
  .desktop-hidden {
    display: none;
  }
}

/* line 18, ../sass/_overrides.scss */
section {
  margin-bottom: 0px;
}

/* line 22, ../sass/_overrides.scss */
figure {
  margin: 1.25em 0;
}

/* line 26, ../sass/_overrides.scss */
.container {
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  /* line 26, ../sass/_overrides.scss */
  .container {
    width: 65%;
    margin: 0 auto;
  }
}

/* line 40, ../sass/_overrides.scss */
nav {
  padding: 20px 0;
  background-image: linear-gradient(57deg, #22313F 0%, #385774 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
/* line 48, ../sass/_overrides.scss */
nav h4 {
  margin: 0;
  font-size: 1em;
}
/* line 52, ../sass/_overrides.scss */
nav .my-name {
  color: #f9a825;
  text-align: center;
}
@media screen and (min-width: 480px) {
  /* line 52, ../sass/_overrides.scss */
  nav .my-name {
    display: inline-block;
    width: 50%;
    text-align: left;
  }
}
/* line 60, ../sass/_overrides.scss */
nav .my-name a:hover {
  color: #f9a825;
}
/* line 63, ../sass/_overrides.scss */
nav .my-name .ux-design {
  font-weight: 200;
  font-style: normal;
  color: white;
}
/* line 69, ../sass/_overrides.scss */
nav .menu-bar {
  text-align: center;
  margin-top: 10px;
}
/* line 72, ../sass/_overrides.scss */
nav .menu-bar li {
  font-size: .8em;
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  transform: border-bottom .2s;
  -webkit-transition: border-bottom .5s;
  -moz-transition: border-bottom .5s;
  -ms-transition: border-bottom .5s;
  -o-transition: border-bottom .5s;
}
/* line 83, ../sass/_overrides.scss */
nav .menu-bar li:hover {
  border-bottom: 2px solid #f9a825;
}
@media screen and (min-width: 480px) {
  /* line 69, ../sass/_overrides.scss */
  nav .menu-bar {
    margin-top: 0px;
    float: right;
    display: inline-block;
    vertical-align: top;
  }
}

/* line 98, ../sass/_overrides.scss */
.button {
  display: inline-block;
  padding: 20px;
  background-color: #f9a825;
  color: white;
  transition: background-color 400ms ease-in;
}
/* line 104, ../sass/_overrides.scss */
.button:hover {
  background-color: #fabc57;
}

/* line 110, ../sass/_overrides.scss */
.hero {
  padding-top: 50px;
  padding-bottom: 80px;
  height: 450px;
  background-image: url("/images/bw-land.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
@media screen and (min-width: 480px) {
  /* line 110, ../sass/_overrides.scss */
  .hero {
    height: 550px;
    background-position: center center;
  }
}
/* line 122, ../sass/_overrides.scss */
.hero .hero-overlay {
  background-color: rgba(34, 49, 63, 0.4);
  height: 580px;
  margin-top: -50px;
}
@media screen and (min-width: 480px) {
  /* line 122, ../sass/_overrides.scss */
  .hero .hero-overlay {
    height: 680px;
    background-position: center center;
  }
}
/* line 131, ../sass/_overrides.scss */
.hero .name-block {
  padding-top: 100px;
  margin-bottom: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 376px) {
  /* line 131, ../sass/_overrides.scss */
  .hero .name-block {
    padding-top: 175px;
  }
}
/* line 140, ../sass/_overrides.scss */
.hero .hero-copy h1 {
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}
/* line 143, ../sass/_overrides.scss */
.hero .hero-copy h2 {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px 0;
  line-height: 1;
}
/* line 149, ../sass/_overrides.scss */
.hero .hero-copy p {
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
  color: #fde3ba;
  font-weight: 200;
}
/* line 153, ../sass/_overrides.scss */
.hero .hero-copy p#landing-copy {
  font-weight: 200;
  font-size: 1.1em;
}
/* line 159, ../sass/_overrides.scss */
.hero#about-page {
  background-image: url("/images/me-bw.jpeg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
/* line 164, ../sass/_overrides.scss */
.hero#about-page .about-block {
  padding-top: 325px;
}
@media screen and (min-width: 376px) {
  /* line 159, ../sass/_overrides.scss */
  .hero#about-page {
    background-position: center right;
  }
  /* line 169, ../sass/_overrides.scss */
  .hero#about-page .about-block {
    padding-top: 300px;
  }
  /* line 172, ../sass/_overrides.scss */
  .hero#about-page h2 {
    font-size: 1.25em;
    line-height: 1.2;
  }
}
/* line 177, ../sass/_overrides.scss */
.hero#about-page h2 {
  font-size: 1em;
  line-height: 1.5;
}
/* line 182, ../sass/_overrides.scss */
.hero#driftlist-hero {
  background-image: url("/assets/driftlist/hero-background-mobile.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
  /* line 182, ../sass/_overrides.scss */
  .hero#driftlist-hero {
    background-image: url("/assets/driftlist/hero-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
/* line 196, ../sass/_overrides.scss */
.hero#driftlist-hero .hero-copy {
  margin-top: 250px;
  color: white;
  background-color: rgba(34, 49, 63, 0.75);
  padding: 20px 0;
}
/* line 201, ../sass/_overrides.scss */
.hero#driftlist-hero .hero-copy p {
  font-size: 1.1em;
}
@media screen and (max-width: 480px) {
  /* line 205, ../sass/_overrides.scss */
  .hero#driftlist-hero .hero-copy h2 {
    font-size: 1.5em;
    padding: 10px 0;
  }
  /* line 209, ../sass/_overrides.scss */
  .hero#driftlist-hero .hero-copy p {
    font-size: 1em;
  }
}
/* line 215, ../sass/_overrides.scss */
.hero#changeseed-hero {
  background-image: url("/assets/changeseed/background-hero.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 223, ../sass/_overrides.scss */
.hero#changeseed-hero .hero-copy {
  margin-top: 200px;
  color: white;
  background-color: rgba(34, 49, 63, 0.75);
  padding: 20px 0;
}
@media screen and (max-width: 480px) {
  /* line 229, ../sass/_overrides.scss */
  .hero#changeseed-hero .hero-copy h2 {
    font-size: 1.5em;
    padding: 10px 0;
  }
  /* line 233, ../sass/_overrides.scss */
  .hero#changeseed-hero .hero-copy p {
    color: #fde3ba;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
  }
}
/* line 241, ../sass/_overrides.scss */
.hero#contact-hero .hero-copy {
  margin-top: 200px;
  color: white;
  background-color: rgba(34, 49, 63, 0.6);
  padding: 20px 0;
}
@media screen and (max-width: 480px) {
  /* line 247, ../sass/_overrides.scss */
  .hero#contact-hero .hero-copy h1 {
    font-size: 2.5em;
    color: white;
    padding: 10px 0;
  }
  /* line 252, ../sass/_overrides.scss */
  .hero#contact-hero .hero-copy p {
    color: white;
  }
}
/* line 258, ../sass/_overrides.scss */
.hero .down-arrow {
  margin-top: 30px;
  text-align: center;
}
/* line 261, ../sass/_overrides.scss */
.hero .down-arrow h4 {
  margin-bottom: 0px;
}

/* line 267, ../sass/_overrides.scss */
.first-figure {
  margin-top: 20px;
  margin-bottom: 0px;
}

/* line 271, ../sass/_overrides.scss */
.about-hero {
  padding-right: 30px;
  background-color: lightgray;
  padding-top: 100px;
  padding-bottom: 20px;
}

/* line 280, ../sass/_overrides.scss */
.hero-copy h2 {
  line-height: 1.5;
}

/* line 285, ../sass/_overrides.scss */
.case-studies {
  padding: 10px 0;
}
@media screen and (min-width: 480px) {
  /* line 285, ../sass/_overrides.scss */
  .case-studies {
    padding-bottom: 50px;
  }
}

/* line 292, ../sass/_overrides.scss */
.case-studies, .contact {
  text-align: center;
}
/* line 294, ../sass/_overrides.scss */
.case-studies .case-list, .contact .case-list {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 250px;
  background-color: gray;
  text-align: center;
  position: relative;
}
/* line 302, ../sass/_overrides.scss */
.case-studies .case-list h5, .contact .case-list h5 {
  padding-top: 1em;
  font-size: 1.1em;
  margin: 0;
  color: white;
}
/* line 308, ../sass/_overrides.scss */
.case-studies .case-list img, .contact .case-list img {
  height: 125px;
  margin-bottom: 10px;
}
@media screen and (min-width: 769px) {
  /* line 294, ../sass/_overrides.scss */
  .case-studies .case-list, .contact .case-list {
    width: 33%;
  }
}
/* line 316, ../sass/_overrides.scss */
.case-studies .case-list#landing-changeseed img, .contact .case-list#landing-changeseed img {
  margin-bottom: 10px;
}
/* line 319, ../sass/_overrides.scss */
.case-studies .case-list#landing-changeseed h4, .contact .case-list#landing-changeseed h4 {
  font-size: 2em;
  margin-bottom: 33px;
}
@media screen and (max-width: 480px) {
  /* line 315, ../sass/_overrides.scss */
  .case-studies .case-list#landing-changeseed, .contact .case-list#landing-changeseed {
    margin: 10px 0;
  }
}
/* line 328, ../sass/_overrides.scss */
.case-studies .case-list#landing-blocbox img, .contact .case-list#landing-blocbox img {
  margin-left: -30px;
}
/* line 332, ../sass/_overrides.scss */
.case-studies .case-list:hover, .contact .case-list:hover {
  color: white;
}
/* line 336, ../sass/_overrides.scss */
.case-studies .case-list .case-specs, .contact .case-list .case-specs {
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  text-align: center;
  height: 100%;
  z-index: 1;
  transition: all 400ms ease-in-out;
  background-color: rgba(52, 73, 94, 0.8);
  opacity: 0;
  padding-top: 75px;
}
/* line 353, ../sass/_overrides.scss */
.case-studies .case-list:hover .case-specs, .contact .case-list:hover .case-specs {
  opacity: 1;
}

/* line 362, ../sass/_overrides.scss */
.contact {
  /* Rectangle 1: */
  background-image: linear-gradient(57deg, #22313F 0%, #385774 100%);
  color: #f9a825;
  text-align: center;
  padding: 4.5em 0;
}
/* line 368, ../sass/_overrides.scss */
.contact h3 {
  padding-top: 0px;
  padding-bottom: .5em;
  color: white;
}
/* line 373, ../sass/_overrides.scss */
.contact .partner-up {
  padding-bottom: 1em;
}

/* line 378, ../sass/_overrides.scss */
footer {
  border-top: 1px solid black;
  height: 100%;
}

/* line 383, ../sass/_overrides.scss */
.with-border {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  border: 1px solid #f9a825;
  padding: 10px 20px 10px 20px;
}

/* line 392, ../sass/_overrides.scss */
#landing-changeseed {
  background-image: url("/images/changeseed-landing-image.png");
  background-size: cover;
}

/* line 399, ../sass/_overrides.scss */
#landing-driftlist {
  background-image: url("/images/drift-landing-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 406, ../sass/_overrides.scss */
#landing-blocbox {
  background-image: url("/images/blocbox-landing-image.png");
  background-position: top center;
  background-size: cover;
}
/* line 410, ../sass/_overrides.scss */
#landing-blocbox .case-specs {
  padding: 50px;
}

/* line 415, ../sass/_overrides.scss */
.social-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/* line 419, ../sass/_overrides.scss */
.social-bar h4 {
  color: #2c3e50;
  margin: .75em 0;
}
@media screen and (min-width: 480px) {
  /* line 419, ../sass/_overrides.scss */
  .social-bar h4 {
    margin: 0;
  }
}
/* line 426, ../sass/_overrides.scss */
.social-bar h5 {
  padding-bottom: 10px;
}
/* line 429, ../sass/_overrides.scss */
.social-bar li {
  display: inline;
  padding-right: 10px;
}
/* line 432, ../sass/_overrides.scss */
.social-bar li i {
  background-color: white;
  border: 1px solid #f9a825;
  padding: 10px;
}
@media screen and (min-width: 480px) {
  /* line 415, ../sass/_overrides.scss */
  .social-bar {
    width: 50%;
    float: left;
  }
  /* line 442, ../sass/_overrides.scss */
  .social-bar h4, .social-bar ul {
    text-align: left;
  }
}

/* line 449, ../sass/_overrides.scss */
.copyright-info p {
  font-size: .7em;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
  /* line 448, ../sass/_overrides.scss */
  .copyright-info {
    width: 50%;
    float: right;
  }
  /* line 457, ../sass/_overrides.scss */
  .copyright-info p {
    padding-top: 20px;
    text-align: right;
    margin-right: 40px;
  }
}

/* line 465, ../sass/_overrides.scss */
.body-intro {
  padding: 2.5em 0;
}

/* line 470, ../sass/_overrides.scss */
.body-copy img {
  margin: 10px 0;
}

/* line 475, ../sass/_overrides.scss */
.landing-case-logo {
  margin-top: 20px;
}

/* line 479, ../sass/_overrides.scss */
.contact-form {
  padding-top: 50px;
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  /* line 479, ../sass/_overrides.scss */
  .contact-form {
    width: 60%;
  }
}
/* line 486, ../sass/_overrides.scss */
.contact-form h3 {
  text-align: center;
}
/* line 489, ../sass/_overrides.scss */
.contact-form input {
  font-family: "pragmatica-web",sans-serif;
  font-size: 1em;
  border-radius: 0px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  transition: border-bottom 0.1s ease-in;
}
/* line 499, ../sass/_overrides.scss */
.contact-form input:focus {
  outline: none;
  border-bottom: 1px solid #f9a825;
}
/* line 504, ../sass/_overrides.scss */
.contact-form textarea {
  font-family: "pragmatica-web",sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 30px;
  height: 200px;
}
/* line 515, ../sass/_overrides.scss */
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #f9a825;
}
/* line 520, ../sass/_overrides.scss */
.contact-form button {
  font-family: "pragmatica-web",sans-serif;
  font-weight: 200;
  background-color: #f9a825;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1em;
  margin: 0 auto;
}
/* line 532, ../sass/_overrides.scss */
.contact-form button:hover {
  cursor: pointer;
}

/* line 538, ../sass/_overrides.scss */
.form-container {
  padding: 20px;
}

/* line 541, ../sass/_overrides.scss */
.images-section {
  text-align: center;
}
@media screen and (min-width: 480px) {
  /* line 544, ../sass/_overrides.scss */
  .images-section figure {
    width: 40%;
  }
  /* line 546, ../sass/_overrides.scss */
  .images-section figure.left {
    margin-right: 10%;
  }
}
/* line 551, ../sass/_overrides.scss */
.images-section .img-placeholder {
  display: inline-block;
  height: 150px;
  width: 150px;
  background-color: #f9a825;
}
/* line 556, ../sass/_overrides.scss */
.images-section .img-placeholder h4 {
  padding-top: 70px;
}
/* line 560, ../sass/_overrides.scss */
.images-section figure {
  display: inline-block;
  margin: 10px 0;
}
/* line 563, ../sass/_overrides.scss */
.images-section figure figcaption {
  margin-top: 10px;
}

@media screen and (min-width: 480px) {
  /* line 570, ../sass/_overrides.scss */
  .user-flow figure {
    margin: 20px 0;
  }
}

/* line 577, ../sass/_overrides.scss */
#drift-comp {
  margin: 1.5em 0px;
}

/* line 581, ../sass/_overrides.scss */
.the-problem {
  background-color: #ecf0f1;
  padding: 2.75em 0px;
}

/* line 586, ../sass/_overrides.scss */
.conclusion, .the-solution {
  padding: 3em 0;
  background: #2c3e50;
  color: white;
}

/* line 592, ../sass/_overrides.scss */
.the-process {
  padding: 2.75em 0px;
}
/* line 594, ../sass/_overrides.scss */
.the-process h2 {
  padding-bottom: 0;
}

/* line 599, ../sass/_overrides.scss */
.footer-content {
  width: 85%;
  margin: 0 auto;
}
