/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Visby;
  src: url(../fonts/VisbyCF-Heavy.woff);
}
/* line 8, ../sass/_typography.scss */
.wf-loading {
  visibility: hidden;
}

/* line 12, ../sass/_typography.scss */
.wf-active, .wf-inactive {
  visibility: visible;
}

/* line 16, ../sass/_typography.scss */
body {
  font-family: ff-enzo-web;
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  /* line 16, ../sass/_typography.scss */
  body {
    font-size: 20px;
  }
}

/* line 23, ../sass/_typography.scss */
a {
  text-decoration: none;
  color: #FFA726;
}
/* line 26, ../sass/_typography.scss */
a:hover {
  color: #29B6F6;
}

/* line 30, ../sass/_typography.scss */
h1 {
  font-size: 3em;
  color: #FFA726;
  font-family: ff-enzo-web;
  font-weight: 300;
  letter-spacing: 5px;
}

/* line 37, ../sass/_typography.scss */
h2 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 42, ../sass/_typography.scss */
h3 {
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
}

/* line 47, ../sass/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 51, ../sass/_typography.scss */
p {
  line-height: 1.8;
  font-family: "abril-text";
  font-weight: 300;
}
/* line 58, ../sass/_typography.scss */
.contact p {
  text-align: center;
  width: 100%;
}

/* line 64, ../sass/_typography.scss */
.section-header {
  padding-bottom: 40px;
}

/* line 70, ../sass/_typography.scss */
.antha {
  color: #ffe5bf;
}

/* line 74, ../sass/_typography.scss */
.landing-case-logo {
  width: 25%;
  margin: auto;
}

/* line 79, ../sass/_typography.scss */
.brand-name {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 84, ../sass/_typography.scss */
.brand-name#drift-list {
  font-family: "clarendon-urw";
  font-weight: 300;
  letter-spacing: 15px;
  color: white;
  padding-top: 10px;
  border-top: 1px solid white;
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 99, ../sass/_typography.scss */
#driftlist-bold {
  font-weight: 500;
}

/* line 103, ../sass/_typography.scss */
#changeseed {
  font-family: "abril-text";
  color: white;
}

/* line 108, ../sass/_typography.scss */
#blocbox {
  font-family: "league-gothic";
  color: white;
  font-size: 2.5em;
  padding-top: 20px;
  padding-bottom: 15px;
}

/* line 118, ../sass/_typography.scss */
.bio-body {
  width: 90%;
  margin: 0 auto;
}
/* line 119, ../sass/_typography.scss */
.bio-body h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  font-size: 1.25em;
  text-transform: uppercase;
  font-family: ff-enzo-web;
}
@media screen and (min-width: 480px) {
  /* line 118, ../sass/_typography.scss */
  .bio-body {
    width: 65%;
  }
}
/* line 133, ../sass/_typography.scss */
.bio-body .intro-bio p {
  font-size: 1.25em;
}

/* line 139, ../sass/_typography.scss */
.lead-text {
  font-weight: bold;
}

/* line 146, ../sass/_typography.scss */
#contact-hero h1 {
  margin-bottom: 20px;
}

/* line 6, ../sass/_overrides.scss */
.container {
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  /* line 6, ../sass/_overrides.scss */
  .container {
    width: 65%;
    margin: 0 auto;
  }
}

/* line 20, ../sass/_overrides.scss */
nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 27, ../sass/_overrides.scss */
nav .my-name {
  color: #FFA726;
  text-align: center;
}
@media screen and (min-width: 480px) {
  /* line 27, ../sass/_overrides.scss */
  nav .my-name {
    display: inline-block;
    width: 50%;
    text-align: left;
  }
}
/* line 35, ../sass/_overrides.scss */
nav .my-name a:hover {
  color: #FFA726;
}
/* line 39, ../sass/_overrides.scss */
nav .menu-bar {
  margin-top: 20px;
  text-align: center;
}
/* line 42, ../sass/_overrides.scss */
nav .menu-bar li {
  display: inline;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  /* line 39, ../sass/_overrides.scss */
  nav .menu-bar {
    margin-top: 5px;
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}

/* line 56, ../sass/_overrides.scss */
.button {
  display: inline-block;
  padding: 20px;
  background-color: #ffb733;
  color: white;
}

/* line 63, ../sass/_overrides.scss */
.hero {
  padding-top: 100px;
  padding-bottom: 30px;
  background-image: url("/images/magazines-desk-work-workspace.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/* line 71, ../sass/_overrides.scss */
.about-hero {
  padding-right: 30px;
  background-color: lightgray;
  padding-top: 100px;
  padding-bottom: 20px;
}

/* line 80, ../sass/_overrides.scss */
.hero-copy h2 {
  line-height: 1.5;
}

/* line 85, ../sass/_overrides.scss */
.case-studies, .contact {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 87, ../sass/_overrides.scss */
.case-studies .case-list, .contact .case-list {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  background-color: gray;
  text-align: center;
  position: relative;
}
/* line 95, ../sass/_overrides.scss */
.case-studies .case-list h5, .contact .case-list h5 {
  margin-top: 155px;
  color: white;
}
@media screen and (min-width: 480px) {
  /* line 87, ../sass/_overrides.scss */
  .case-studies .case-list, .contact .case-list {
    width: 33%;
  }
}
/* line 107, ../sass/_overrides.scss */
.case-studies .case-list#landing-changeseed, .contact .case-list#landing-changeseed {
  float: right;
}
/* line 108, ../sass/_overrides.scss */
.case-studies .case-list#landing-changeseed img, .contact .case-list#landing-changeseed img {
  width: 125%;
  margin-bottom: 10px;
}
/* line 112, ../sass/_overrides.scss */
.case-studies .case-list#landing-changeseed h4, .contact .case-list#landing-changeseed h4 {
  font-size: 1.75em;
  margin-bottom: 33px;
}
/* line 119, ../sass/_overrides.scss */
.case-studies .case-list#landing-blocbox img, .contact .case-list#landing-blocbox img {
  width: 125%;
  margin-left: -30px;
}
/* line 124, ../sass/_overrides.scss */
.case-studies .case-list:hover, .contact .case-list:hover {
  color: white;
}
/* line 128, ../sass/_overrides.scss */
.case-studies .case-list .case-specs, .contact .case-list .case-specs {
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  text-align: center;
  height: 100%;
  z-index: 1;
  transition: all 300ms ease-in-out;
  background-color: rgba(52, 73, 94, 0.7);
  opacity: 0;
  padding-top: 75px;
}
/* line 145, ../sass/_overrides.scss */
.case-studies .case-list:hover .case-specs, .contact .case-list:hover .case-specs {
  opacity: 1;
}

/* line 154, ../sass/_overrides.scss */
.contact {
  background-color: #ededed;
  text-align: center;
}

/* line 159, ../sass/_overrides.scss */
footer {
  border-top: 1px solid black;
  height: 40px;
}

/* line 164, ../sass/_overrides.scss */
.with-border {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  border: 1px solid #FFA726;
  padding: 10px 20px 10px 20px;
}

/* line 173, ../sass/_overrides.scss */
#landing-changeseed {
  background-image: url("/images/changeseed-landing-image.png");
  background-size: cover;
}
/* line 176, ../sass/_overrides.scss */
#landing-changeseed h5 {
  margin-top: 135px;
}

/* line 181, ../sass/_overrides.scss */
#landing-driftlist {
  background-image: url("/images/drift-landing-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 210, ../sass/_overrides.scss */
#landing-blocbox {
  background-image: url("/images/blocbox-landing-image.png");
  background-position: top center;
  background-size: cover;
}
/* line 214, ../sass/_overrides.scss */
#landing-blocbox h5 {
  margin-top: 135px;
}

/* line 220, ../sass/_overrides.scss */
.social-bar {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 223, ../sass/_overrides.scss */
.social-bar h5 {
  padding-bottom: 10px;
}
/* line 226, ../sass/_overrides.scss */
.social-bar ul {
  margin-top: 10px;
}
/* line 229, ../sass/_overrides.scss */
.social-bar li {
  display: inline;
  padding-right: 10px;
}
/* line 232, ../sass/_overrides.scss */
.social-bar li i {
  background-color: white;
  border: 1px solid #FFA726;
  padding: 10px;
  color: #FFA726;
}
@media screen and (min-width: 480px) {
  /* line 220, ../sass/_overrides.scss */
  .social-bar {
    width: 50%;
    float: left;
  }
  /* line 243, ../sass/_overrides.scss */
  .social-bar h4, .social-bar ul {
    text-align: left;
    margin-left: 40px;
  }
}

/* line 250, ../sass/_overrides.scss */
.copyright-info p {
  font-size: .75em;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
  /* line 249, ../sass/_overrides.scss */
  .copyright-info {
    width: 50%;
    float: right;
  }
  /* line 258, ../sass/_overrides.scss */
  .copyright-info p {
    margin-top: 50px;
    text-align: right;
    margin-right: 40px;
  }
}

/* line 266, ../sass/_overrides.scss */
.body-intro {
  padding-top: 50px;
}

/* line 270, ../sass/_overrides.scss */
.body-copy {
  margin-bottom: 20px;
}

/* line 274, ../sass/_overrides.scss */
.landing-case-logo {
  margin-top: 20px;
}

/* line 278, ../sass/_overrides.scss */
.contact-form {
  padding-top: 50px;
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  /* line 278, ../sass/_overrides.scss */
  .contact-form {
    width: 60%;
  }
}
/* line 285, ../sass/_overrides.scss */
.contact-form input {
  font-family: ff-more-web-pro;
  font-size: 1em;
  border-radius: 0px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  transition: border-bottom 0.1s ease-in;
}
/* line 295, ../sass/_overrides.scss */
.contact-form input:focus {
  border-bottom: 1px solid #FFA726;
}
/* line 299, ../sass/_overrides.scss */
.contact-form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-family: ff-more-web-pro;
  line-height: 1.5;
  margin-bottom: 30px;
  height: 200px;
}
/* line 311, ../sass/_overrides.scss */
.contact-form button {
  background-color: #FFA726;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1em;
  font-family: abril-text;
  margin: 0 auto;
}
/* line 322, ../sass/_overrides.scss */
.contact-form button:hover {
  cursor: pointer;
}

/* line 328, ../sass/_overrides.scss */
.form-container {
  padding: 20px;
}

/* line 332, ../sass/_overrides.scss */
.footer-content {
  width: 85%;
  margin: 0 auto;
}
